<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolItem="3" />
    <add key="PingFeed" value="https://nuget.pkg.github.com/PingChatApp/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <PingFeed>
      <add key="Username" value="AnanduR32" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </PingFeed>
  </packageSourceCredentials>
</configuration>